extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = false

block content
    .wrapper
        main.main
            section.main-banner 
                .main-banner__content
                    img.main-banner__img(src="./assets/images/main-banner-bg.jpg", alt="Кроссовок Nike")