extends ../template

block variables
    - var title = 'Карта сайта'

block content
    .map.wrapper
        .container
            .map__logo-box 
                a.header__logo-link(href="#")
                    svg.header__logo-img(width="150" height="46")  
                        use(xlink:href="./assets/images/sprite.svg#logo-white" alt="Champler logo")
            table.map-table
                tbody
                    tr
                        td
                            a.map-table__link(href="home-page.html" target="_blank") Главная
                        td
                            a.map-table__link.modal__link(href="#modal04") Подписка (modal)
                    tr
                        td
                            a.map-table__link(href="for-men.html" target="_blank") Мужчинам
                        td
                            a.map-table__link(href="subcategory.html" target="_blank") Подкатегория
                    tr
                        td
                            a.map-table__link(href="collections.html" target="_blank") Коллекции
                    tr
                        td
                            a.map-table__link(href="kinds-of-sports.html" target="_blank") Виды спорта
                    tr
                        td
                            a.map-table__link(href="good-card.html" target="_blank") Карточка товара
                    tr
                        td
                            a.map-table__link(href="help.html" target="_blank") Помощь
                    tr
                        td
                            a.map-table__link(href="contacts.html" target="_blank") Контакты
                    tr
                        td
                            a.map-table__link(href="my-data.html" target="_blank") Мои данные
                        td
                            a.map-table__link(href="my-data.html" target="_blank") Все заказы
                        td
                            a.map-table__link(href="my-data.html" target="_blank") Текущие заказы
                    tr
                        td
                            a.map-table__link(href="cart.html" target="_blank") Корзина
                        td
                            a.map-table__link(href="order.html" target="_blank") Оформление заказа
                        td
                            a.map-table__link(href="order-complete.html" target="_blank") Заказ оформлен
                    tr
                        td
                            a.map-table__link(href="favorite.html" target="_blank") Избранное
                    tr
                        td
                            a.map-table__link(href="search.html" target="_blank") Результат поиска
                        td
                            a.map-table__link.modal__link(href="#modal01") Поисковая строка (modal)
                    tr
                        td
                            a.map-table__link.modal__link(href="#modal02") Вход (modal)
                        td
                            a.map-table__link.modal__link(href="#modal03") Регистрация (modal)
                    tr
                        td
                            a.map-table__link(href="not-found.html" target="_blank") 404