extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = false

block content
    .wrapper
        main.main
            section.section.main-banner 
                .main-banner__content
                    .main-banner__img-box
                        img.main-banner__img(src="./assets/images/main-banner-bg.jpg", alt="Кроссовок Nike")
            section.section.sale.section__slider
                .container
                    .section__heading.slider__heading 
                        h2.section__title Sale до 50%
                        a.section__link(href="#") Смотреть все
                    .sale__slider
                        .swiper-container.slider3
                            .swiper-pagination
                            .swiper-button-prev
                                svg.slider3__btn-prev(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#swiper-arrow-prev" alt="Кнопка влево")
                            .swiper-button-next
                                svg.slider3__btn-next(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#swiper-arrow-next" alt="Кнопка вправо")
                            .swiper-wrapper
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину  
                                        .slider3__fav-img-box.fav-btn
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-1.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией 
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-2.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381; 
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-3.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-4.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-1.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией 
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-2.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381; 
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-3.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-4.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
            section.section.new.section__slider
                .container
                    .section__heading.slider__heading 
                        h2.section__title Новые поступления
                        a.section__link(href="#") Смотреть все
                    .new__slider
                        .swiper-container.slider3
                            .swiper-pagination
                            .swiper-button-prev
                                svg.slider3__btn-prev(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#swiper-arrow-prev" alt="Кнопка влево")
                            .swiper-button-next
                                svg.slider3__btn-next(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#swiper-arrow-next" alt="Кнопка вправо")
                            .swiper-wrapper
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-5.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией 
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-6.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381; 
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-7.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-8.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-1.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией 
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-2.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381; 
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-3.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-4.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
            section.section.new-collection
                .new-collection__img-box
                    img.new-collection__bg-img(src="assets/images/new-collection-bg-img.jpg", alt="Фото модели в одежде из новой коллекции")
                .container.new-collection__container
                    .new-collection__content
                        .new-collection__content-box
                            .new-collection__heading 
                                h2.new-collection__title Зимняя коллекция `22
                                p.new-collection__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            a.new-collection__link-btn(href="#") Новая коллекция
            section.section.collection
                .container 
                    .section__heading.collection__heading
                        h2.section__title Коллекции
                    .collection__slider 
                        .swiper-container.slider4
                            .swiper-button-next
                                svg.slider3__fav-img(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#slider4-button-next" alt="Круглая кнопка со стрелкой направо")
                            .swiper-wrapper
                                .swiper-slide
                                    .slider4__item
                                        .slider4__item-title
                                            a.slider4__item-link(href="#") Yoga style
                                        .slider4__img-box
                                            img.slider4__img(src="assets/images/slider4-img-1.jpg" alt="Картинка в слайде")
                                .swiper-slide
                                    .slider4__item
                                        .slider4__item-title
                                            a.slider4__item-link(href="#") Running
                                        .slider4__img-box
                                            img.slider4__img(src="assets/images/slider4-img-2.jpg" alt="Картинка в слайде")
                                .swiper-slide
                                    .slider4__item
                                        .slider4__item-title
                                            a.slider4__item-link(href="#") Hard sport 
                                        .slider4__img-box
                                            img.slider4__img(src="assets/images/slider4-img-3.jpg" alt="Картинка в слайде")
            section.section.popular.section__slider
                .container
                    .section__heading.slider__heading 
                        h2.section__title Популярное
                        a.section__link(href="#") Смотреть все
                    .popular__slider
                        .swiper-container.slider3
                            .swiper-pagination
                            .swiper-button-prev
                                svg.slider3__btn-prev(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#swiper-arrow-prev" alt="Кнопка влево")
                            .swiper-button-next
                                svg.slider3__btn-next(width="50" height="50")
                                    use(xlink:href="./assets/images/sprite.svg#swiper-arrow-next" alt="Кнопка вправо")
                            .swiper-wrapper
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-5.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией 
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-6.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381; 
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-7.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-8.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-1.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией 
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-2.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381; 
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-3.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;
                                .swiper-slide
                                    .slider3__item
                                        .add-to-cart__box 
                                            a.add-to-cart__link(href="#") Добавить в корзину 
                                        .slider3__fav-img-box.fav-btn 
                                            svg.slider3__fav-img(width="17" height="16")
                                                use(xlink:href="./assets/images/sprite.svg#heart-favorite" alt="Иконка сердечка")
                                        .slider3__img-box
                                            img.slider3__img(src="assets/images/slider3-img-4.jpg", alt="Картинка в слайде")
                                        .slider3__text-block 
                                            .slider3__text-box
                                                p.slider3__text Кроссовки черные на высокой подошве с молнией
                                                span.slider3__price 3500&nbsp;
                                                span.slider3__currency &#8381;



