extends ../template

block variables
	- var title = 'Аккаунт'
	- var contactForm = false

block content
	.wrapper
		main.main
			section.section.account
				.container.account__container
					.section__heading
						h1.section__title Аккаунт
					.account__content
						.help__tabs.account__tabs.tabs
							nav.help__nav.account__nav
								.help__tabs-navbar.account__tabs-navbar.tabs__navbar
									a.help__tabs-switch.account__tabs-switch.tabs__link(href="#block01")  Мои данные
									a.help__tabs-switch.account__tabs-switch.tabs__link._active(href="#block02")  Текущие заказы
									a.help__tabs-switch.account__tabs-switch.tabs__link(href="#block03") История заказов
								.account__bonus-box
									.account__bonus-content 
										h2.account__bonus-title У вас на счету:
										.account__bonus
											span 96
											span &nbsp;баллов
							.help__tabs-items.account__tabs-items.tabs__items
								.help__tabs-block.account__tabs-block.tabs__item#block01
									form.account__form
										input.account__form-input(type="text" placeholder="Фамилия" pattern="[A-Za-zА-Яа-яЁё]{1,20}" title="Фамилия может содержать только русские или латинские буквы, быть не короче 1 и не длиннее 30 символов")
										input.account__form-input(type="text" placeholder="Имя" required pattern="[A-Za-zА-Яа-яЁё]{1,20}" title="Имя может содержать только русские или латинские буквы, быть не короче 1 и не длиннее 20 символов")
										input.account__form-input(type="text" placeholder="Отчество")
										input.account__form-input#email(type="email" placeholder="Ваш e-mail" required pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/")
										input.account__form-input#tel(type="tel" placeholder="Телефон" required)
										label.account__form-label Изменить пароль
											input.account__form-input#password(type="password" placeholder="Введите пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать хотя бы одну цифру и одну заглавную букву. Длина не менее 8 символов" required)
										label.account__form-label_pass-check
											input.account__form-input#passwordCheck(type="password" placeholder="Повторите пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать хотя бы одну цифру и одну заглавную букву. Длина не менее 8 символов" required)
											small.pass-error._hidden Пароли не совпадают
										label.account__form-label Адрес доставки по умолчанию
											input.account__form-input(type="text" placeholder="г. Санкт-петербург, Заневский пр-т, д. 38, кв. 150")
										a.account__form-link(href="#") добавить адрес
										button.account__form-btn(type="submit") сохранить
								.help__tabs-block.account__tabs-block.tabs__item#block02._active
									.account-orders.accordion-container
										.account-orders__heading.ac 
											button.ac-trigger Заказ №123456-12345
												span от 24.03.2021
											.ac-panel
												.ac-content-row
													.ac-content-col
														.ac-content-col__items
															.ac-content-col__item
																.img-box 
																	img.account-orders-img(src="./assets/images/orders-img-1.jpg", alt="Фото модели в образце продукции")
															.ac-content-col__item 
																h3.account-orders__name Футболка черная с логотипом
																span.account-orders__vendor-code Артикул:&nbsp; 
																span.account-orders__vendor-code 113263RS502
													.ac-content-col
														span.account-orders__size Размер&nbsp;
														span.account-orders__size-value S
													.ac-content-col 
														span.account-orders__quantity Количество&nbsp;
														span.account-orders__quantity-value 1
													.ac-content-col 
														span.account-orders__price.number-spaced 4190
														span.account-orders__price-currency &nbsp;&#8381; 
												.ac-content-row
													.ac-content-col
														.ac-content-col__items
															.ac-content-col__item
																.img-box 
																	img.account-orders-img(src="./assets/images/orders-img-1.jpg", alt="Фото модели в образце продукции")
															.ac-content-col__item 
																h3.account-orders__name Футболка черная с логотипом
																span.account-orders__vendor-code Артикул:&nbsp; 
																span.account-orders__vendor-code 113263RS502
													.ac-content-col
														span.account-orders__size Размер&nbsp;
														span.account-orders__size-value S
													.ac-content-col 
														span.account-orders__quantity Количество&nbsp;
														span.account-orders__quantity-value 1
													.ac-content-col 
														span.account-orders__price.number-spaced 4190
														span.account-orders__price-currency &nbsp;&#8381; 
												.ac-content-row
													.ac-content-col
														.ac-content-col__items
															.ac-content-col__item
																.img-box 
																	img.account-orders-img(src="./assets/images/orders-img-1.jpg", alt="Фото модели в образце продукции")
															.ac-content-col__item 
																h3.account-orders__name Футболка черная с логотипом
																span.account-orders__vendor-code Артикул:&nbsp; 
																span.account-orders__vendor-code 113263RS502
													.ac-content-col
														span.account-orders__size Размер&nbsp;
														span.account-orders__size-value S
													.ac-content-col 
														span.account-orders__quantity Количество&nbsp;
														span.account-orders__quantity-value 1
													.ac-content-col 
														span.account-orders__price.number-spaced 4190
														span.account-orders__price-currency &nbsp;&#8381; 
												.ac-content-row.ac-content-row__total
													.ac-content-col.ac-content-col__total 
														.total__order Заказ
														.total__delivery Доставка
														.total__ammount Итого
													.ac-content-col.ac-content-col__total  
														.total__order-value 
															span.number-spaced 8990
															span &nbsp;&#8381;
														.total__delivery-value 
															span.number-spaced 400
															span &nbsp;&#8381;
														.total__ammount-value 
															span.number-spaced 15390
															span &nbsp;&#8381;
										.account-orders__heading.ac 
											button.ac-trigger Заказ №123456-12345
												span от 24.03.2021
											.ac-panel
												.ac-content-row
													.ac-content-col
														.ac-content-col__items
															.ac-content-col__item
																.img-box 
																	img.account-orders-img(src="./assets/images/orders-img-1.jpg", alt="Фото модели в образце продукции")
															.ac-content-col__item 
																h3.account-orders__name Футболка черная с логотипом
																span.account-orders__vendor-code Артикул:&nbsp; 
																span.account-orders__vendor-code 113263RS502
													.ac-content-col
														span.account-orders__size Размер&nbsp;
														span.account-orders__size-value S
													.ac-content-col 
														span.account-orders__quantity Количество&nbsp;
														span.account-orders__quantity-value 1
													.ac-content-col 
														span.account-orders__price.number-spaced 4190
														span.account-orders__price-currency &nbsp;&#8381;
												.ac-content-row.ac-content-row__total
													.ac-content-col.ac-content-col__total 
														.total__order Заказ
														.total__delivery Доставка
														.total__ammount Итого
													.ac-content-col.ac-content-col__total  
														.total__order-value 
															span.number-spaced 8990
															span &nbsp;&#8381;
														.total__delivery-value 
															span.number-spaced 400
															span &nbsp;&#8381;
														.total__ammount-value 
															span.number-spaced 15390
															span &nbsp;&#8381;
										.account-orders__heading.ac 
											button.ac-trigger Заказ №123456-12345
												span от 24.03.2021
											.ac-panel
												.ac-content-row
													.ac-content-col
														.ac-content-col__items
															.ac-content-col__item
																.img-box 
																	img.account-orders-img(src="./assets/images/orders-img-1.jpg", alt="Фото модели в образце продукции")
															.ac-content-col__item 
																h3.account-orders__name Футболка черная с логотипом
																span.account-orders__vendor-code Артикул:&nbsp; 
																span.account-orders__vendor-code 113263RS502
													.ac-content-col
														span.account-orders__size Размер&nbsp;
														span.account-orders__size-value S
													.ac-content-col 
														span.account-orders__quantity Количество&nbsp;
														span.account-orders__quantity-value 1
													.ac-content-col 
														span.account-orders__price.number-spaced 4190
														span.account-orders__price-currency &nbsp;&#8381;
												.ac-content-row.ac-content-row__total
													.ac-content-col.ac-content-col__total 
														.total__order Заказ
														.total__delivery Доставка
														.total__ammount Итого
													.ac-content-col.ac-content-col__total  
														.total__order-value 
															span.number-spaced 8990
															span &nbsp;&#8381;
														.total__delivery-value 
															span.number-spaced 400
															span &nbsp;&#8381;
														.total__ammount-value 
															span.number-spaced 15390
															span &nbsp;&#8381;
										.account-orders__heading.ac 
											button.ac-trigger Заказ №123456-12345
												span от 24.03.2021
											.ac-panel
												.ac-content-row
													.ac-content-col
														.ac-content-col__items
															.ac-content-col__item
																.img-box 
																	img.account-orders-img(src="./assets/images/orders-img-1.jpg", alt="Фото модели в образце продукции")
															.ac-content-col__item 
																h3.account-orders__name Футболка черная с логотипом
																span.account-orders__vendor-code Артикул:&nbsp; 
																span.account-orders__vendor-code 113263RS502
													.ac-content-col
														span.account-orders__size Размер&nbsp;
														span.account-orders__size-value S
													.ac-content-col 
														span.account-orders__quantity Количество&nbsp;
														span.account-orders__quantity-value 1
													.ac-content-col 
														span.account-orders__price.number-spaced 4190
														span.account-orders__price-currency &nbsp;&#8381;
												.ac-content-row.ac-content-row__total
													.ac-content-col.ac-content-col__total 
														.total__order Заказ
														.total__delivery Доставка
														.total__ammount Итого
													.ac-content-col.ac-content-col__total  
														.total__order-value 
															span.number-spaced 8990
															span &nbsp;&#8381;
														.total__delivery-value 
															span.number-spaced 400
															span &nbsp;&#8381;
														.total__ammount-value 
															span.number-spaced 15390
															span &nbsp;&#8381;
								.help__tabs-block.account__tabs-block.tabs__item#block03
									.account__img-box 
										svg.account__cart-img(width="108" height="108")
											use(xlink:href="./assets/images/sprite.svg#shopping-bag-1" alt="Рисунок корзины для покупок")
									.account__orders-history-heading 
										h2.account__orders-history-title Заказов нет
										h3.account__orders-history-sub-title Чтобы сделать заказ добавьте вещи в корзину
									a.account__back-link(href="home-page.html") Вернуться на главную