extends ../template

block variables
    - var title = 'Оформление заказа'

block content
    .wrapper
        section.section.order-complete
            .container
                .order-complete__content     
                    h1.section__title Заказ оформлен
                    p.order-complete__text Наш менеджер свяжется с вами в ближайшее время
                    a(href="home-page.html").order-complete__link вернуться на главную