@charset "UTF-8";
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Bold"), local("Helvetica-Bold"), url(../fonts/Helvetica-Bold.woff2) format("woff2"), url(../fonts/Helvetica-Bold.woff) format("woff"), url(../fonts/Helvetica-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Light"), local("Helvetica-Light"), url(../fonts/Helvetica-Light.woff2) format("woff2"), url(../fonts/Helvetica-Light.woff) format("woff"), url(../fonts/Helvetica-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Regular"), local("Helvetica-Regular"), url(../fonts/Helvetica-Regular.woff2) format("woff2"), url(../fonts/Helvetica-Regular.woff) format("woff"), url(../fonts/Helvetica-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*Обнуление*/
/*Убираем отступы у всего*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

/* Указываем box sizing */
*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

nav,
footer,
header,
aside {
  display: block; }

/* Выставляем основные настройки по-умолчанию для html и body */
html,
body {
  width: 100%;
  min-height: 100vh;
  line-height: 1;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li[class] {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0; }

/*--------------------*/
/* Убираем внутренние отступы */
ul:not[class],
ol:not[class] {
  margin: 0;
  padding: 0; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  vertical-align: top; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.map {
  width: 100%;
  height: 100vh;
  background-color: #3D3D3D;
  overflow-y: auto;
  padding: 40px 0; }
  .map__logo-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%; }
  .map .header__logo-img {
    width: 250px;
    height: 100%;
    color: #ffffff; }

.map-table {
  margin-top: 50px; }
  .map-table__link {
    width: 280px;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 22px;
    padding: 20px;
    border: 1px solid #ffffff; }
    .map-table__link:hover {
      text-decoration: underline; }

@media screen and (max-width: 1024px) {
  .map-table {
    width: 100%; }
    .map-table tbody {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .map-table tbody tr {
        display: flex;
        flex-direction: column; } }

body {
  min-width: 320px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  display: flex;
  flex-direction: column; }

body._lock {
  overflow: hidden; }

button {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px; }

header._hidden {
  display: none; }

.header-bottom._hidden {
  display: none; }

.header-top {
  width: 100%;
  min-height: 86px;
  padding: 20px 0;
  position: relative;
  z-index: 10;
  margin: 0 0 -86px 0; }
  .header-top__container {
    width: 100%;
    display: flex;
    align-items: center; }
  .header-top__menu {
    width: 100%; }
  .header-top__menu-body, .header-top__list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-top__menu-body {
    margin: 0 -12px;
    padding: 12px 0; }
  .header-top__list:last-child {
    margin-left: -12px; }
  .header-top__menu-link {
    padding: 12px;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    margin: 0 4px 0 0; }
  .header-top__menu-link:hover {
    text-decoration: underline; }
  .header-top__logo-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15; }
  .header-top__logo-img {
    color: #ffffff; }

header._white {
  background-color: #ffffff;
  border-bottom: 2px solid #D6D6D6; }
  header._white .header-top__menu-link {
    color: #000000; }
  header._white .header-top__logo-img {
    color: #000000; }
  header._white .menu__icon span,
  header._white .menu__icon::before,
  header._white .menu__icon::after {
    background-color: #000000; }
  header._white .menu__body._active .menu__link {
    color: #ffffff; }
  header._white .menu__icon._active::before, header._white .menu__icon._active::after {
    background-color: #ffffff; }

.header-top._fixed {
  position: fixed;
  top: 0;
  left: 0; }

.header-bottom {
  margin: 86px 0 0 0;
  width: 100%; }
  .header-bottom__banner {
    width: 100%;
    height: 100%;
    position: relative;
    height: 300px; }
  .header-bottom__img-box {
    position: absolute;
    width: 100%;
    height: 300px; }
  .header-bottom__img {
    width: 100%;
    height: 100%;
    -o-object-position: top;
       object-position: top; }
    .header-bottom__img_for-men._hidden, .header-bottom__img_collections._hidden, .header-bottom__img_kinds-of-sports._hidden {
      display: none; }
  .header-bottom__heading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .header-bottom__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff; }
  .header-bottom__banner._hidden {
    display: none; }

.menu__icon {
  display: none; }

.breadcrumbs__content {
  width: 100%;
  padding: 20px 0; }

.breadcrumbs__list {
  display: flex;
  justify-content: flex-start; }

.breadcrumbs__item, .breadcrumbs__link {
  color: #515151;
  font-size: 12px;
  line-height: 14px; }

.breadcrumbs._hidden {
  display: none; }

.sub-menu {
  width: 100%; }
  .sub-menu__container {
    width: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sub-menu__list {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sub-menu__list_for-men._hidden, .sub-menu__list_for-women._hidden, .sub-menu__list_collections._hidden, .sub-menu__list_kinds-of-sports._hidden {
      display: none; }
  .sub-menu__link {
    padding: 10px;
    margin: 0 20px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap; }
    .sub-menu__link:hover {
      text-decoration: underline; }

.sub-menu._hidden {
  display: none; }

.wrapper {
  overflow: hidden; }

.swiper-container-horizontal > .swiper-pagination-fraction {
  max-width: 87%;
  text-align: right;
  top: 22px;
  bottom: auto;
  pointer-events: none;
  z-index: 0; }

.swiper-container-horizontal > .swiper-pagination span {
  font-size: 16px;
  line-height: 140%; }

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  top: 28px;
  left: auto; }

.swiper-button-prev {
  right: 70px; }

.swiper-button-next {
  right: 0; }

.slider3__btn-next,
.slider3__btn-prev {
  width: 100%;
  height: 100%; }

.section {
  width: 100%;
  margin: 150px 0 0 0; }
  .section__slider {
    position: relative; }
  .section__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000; }
  .section__link {
    color: #000000;
    text-decoration: underline;
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
    margin: 0 0 0 -5px; }

.slider__heading {
  position: absolute;
  top: 0;
  z-index: 5; }

.main {
  width: 100%;
  height: 100%; }

.main-banner {
  margin: 0;
  width: 100%;
  height: 100vh; }
  .main-banner__content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .main-banner__heading-box {
    width: 100%;
    height: auto;
    min-height: 340px;
    position: absolute;
    z-index: 1; }
  .main-banner__title {
    font-weight: bold;
    font-size: 144px;
    line-height: 166px;
    color: #ffffff;
    opacity: 0.9;
    text-transform: uppercase;
    padding: 20px 0; }
  .main-banner__title-span {
    padding: 10px 80px; }
  .main-banner__img-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .main-banner__img-box_above {
      z-index: 1; }
    .main-banner__img-box img {
      width: 100%;
      height: 100%; }

.marquee {
  overflow: hidden;
  font-size: 0;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .marquee__inner {
    white-space: nowrap;
    display: inline-block; }

.fav-btn {
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 5;
  cursor: pointer; }
  .fav-btn:hover > .slider3__fav-img {
    transform: scale(115%); }
  .fav-btn:active > .slider3__fav-img {
    color: #000000; }

.sale {
  margin: 80px 0 0 0; }

.slider3 {
  padding: 90px 0 0 0; }
  .slider3__item {
    position: relative; }
    .slider3__item:hover > .add-to-cart__box {
      visibility: visible;
      opacity: 1;
      z-index: 1; }
    .slider3__item:hover .slider3__img-box {
      filter: brightness(0.7);
      z-index: 0;
      transition: all 0.3s ease 0s; }
  .slider3 .add-to-cart__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0; }
  .slider3 .add-to-cart__link {
    max-width: 185px;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 10px;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 70px);
    transition: all 0.3s ease 0s; }
    .slider3 .add-to-cart__link:hover {
      box-shadow: 0 0 3px 3px #3D3D3D; }
  .slider3__fav-img-box {
    position: absolute;
    top: 0;
    left: auto;
    right: 0; }
  .slider3__fav-img {
    width: 100%;
    color: transparent;
    transition: all 0.3s ease 0s; }
  .slider3__text {
    font-size: 16px;
    margin: 15px 0 10px 0; }
  .slider3__price, .slider3__currency {
    font-weight: bold; }

.new {
  margin: 150px 0 0 0; }

.new-collection {
  width: 100%;
  margin: 150px 0 0 0;
  height: 650px;
  position: relative; }
  .new-collection__container {
    width: 100%;
    height: 100%; }
  .new-collection__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .new-collection__content-box {
    width: 100%;
    max-width: 577px;
    z-index: 1; }
  .new-collection__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #3D3D3D; }
  .new-collection__text {
    font-size: 16px;
    line-height: 140%;
    color: #3D3D3D;
    margin-top: 6px; }
  .new-collection__link-btn {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 25px 13px;
    max-width: 193px;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    background-color: #3D3D3D;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #ffffff; }
    .new-collection__link-btn:hover {
      background-color: #000000;
      opacity: 0.8; }
  .new-collection__img-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0; }
    .new-collection__img-box img {
      height: 100%; }

.collection {
  width: 100%; }
  .collection__heading {
    margin-bottom: 41px; }
  .collection .slider4 {
    width: 1870px; }
    .collection .slider4 .swiper-button-next {
      right: 0;
      left: 74%;
      top: 50%; }
    .collection .slider4__item {
      position: relative; }
    .collection .slider4__item-title {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10; }
    .collection .slider4__item-link {
      font-weight: bold;
      font-size: 36px;
      line-height: 41px;
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .collection .slider4__img-box {
      overflow: hidden; }
      .collection .slider4__img-box img {
        transform: scale(100%);
        transition: transform 0.3s ease 0s; }
    .collection .slider4__item:hover > .slider4__img-box img {
      transform: scale(110%); }

.shoes {
  margin: 100px 0 0 0; }

.goods {
  margin: 28px 0 0 0; }
  .goods__content {
    display: flex;
    justify-content: space-between;
    margin: 65px 0 0 0;
    overflow: hidden; }
  .goods__filter-box {
    flex: 0 0 25%;
    padding: 0 10px 0 0; }
  .goods__filter-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .goods__filter-label {
    display: inline-block;
    position: relative;
    margin: -10px 0 27px 0;
    padding: 10px 0;
    cursor: pointer;
    max-width: 60%; }
    .goods__filter-label:hover {
      text-decoration: underline; }
  .goods__filter-input {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    pointer-events: none;
    user-slect: none;
    opacity: 0; }
  .goods__filter-span {
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap; }
  .goods__items {
    flex: 0 0 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: end;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    overflow: hidden; }
  .goods__item {
    width: 100%;
    max-width: 343px;
    position: relative; }
    .goods__item:hover > .add-to-cart__box {
      visibility: visible;
      opacity: 1;
      z-index: 1; }
    .goods__item:hover .goods__img-box {
      filter: brightness(0.7);
      z-index: 0;
      transition: all 0.3s ease 0s; }
  .goods__img-box {
    max-width: 343px;
    max-height: 447px;
    width: 100%; }
  .goods__text-block {
    min-height: 58px;
    margin: 15px 0 0 0; }
  .goods .add-to-cart__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0; }
  .goods .add-to-cart__link {
    max-width: 185px;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 10px;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 70px);
    transition: all 0.3s ease 0s; }
    .goods .add-to-cart__link:hover {
      box-shadow: 0 0 3px 3px #3D3D3D; }
  .goods__fav-img-box {
    position: absolute;
    top: 0;
    left: auto;
    right: 0; }
  .goods__fav-img {
    width: 100%;
    color: transparent;
    transition: all 0.3s ease 0s; }
  .goods__text {
    font-size: 16px;
    margin: 0 0 10px 0; }
  .goods__price, .goods__currency {
    font-weight: bold; }

.fav-btn:hover > .goods__fav-img {
  transform: scale(115%); }

.fav-btn:active > .goods__fav-img {
  color: #000000; }

.page-pagination__block {
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center; }

.page-pagination__nav {
  grid-column-start: 3; }

.page-pagination__list {
  width: 100%;
  display: flex; }

.page-pagination__link-btn {
  width: 164px;
  grid-column-start: 4;
  justify-self: end; }

.page-pagination__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: #3D3D3D;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff; }

.page-pagination__item {
  margin: 0 3px; }

.page-pagination__link {
  font-size: 14px;
  line-height: 150%;
  color: #A3A3A3;
  padding: 5px; }

.page-pagination__link.current {
  color: #000000; }

.good-card {
  margin: 28px 0 0 0; }
  .good-card__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin: 65px 0 0 0; }
  .good-card__images, .good-card__info {
    flex: 1 1 50%; }
  .good-card__images {
    padding: 0 117px 0 0; }
  .good-card__heading {
    margin: 0 0 20px 0; }
  .good-card__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
    margin: 0 0 5px 0; }
  .good-card__vendore-code, .good-card__available-colors {
    font-size: 16px;
    line-height: 140%;
    color: #999999; }
  .good-card__price span {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #000000; }
  .good-card__add-to-cart-block {
    margin: 20px 0 0 0; }
  .good-card__form {
    display: flex;
    flex-direction: column; }
  .good-card__form-inputs {
    margin: 10px 0 32px 0; }
  .good-card__label {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 13px 0 0;
    /* стили для чекбокса, находящегося в фокусе */
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */ }
    .good-card__label input {
      position: absolute;
      z-index: -1;
      opacity: 0; }
    .good-card__label .span01,
    .good-card__label .span02 {
      display: inline-flex;
      align-items: center;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .good-card__label .span01::before,
      .good-card__label .span02::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 100%;
        background: url("/assets/images/svg/black-circle.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%; }
    .good-card__label .span02::before {
      background: url("/assets/images/svg/white-circle.svg"); }
    .good-card__label input:not(:disabled):not(:checked) + span:hover::before {
      box-shadow: 0px 0px 3px 3px #999999; }
    .good-card__label input:checked + span::before {
      box-shadow: 0px 0px 3px 3px #3D3D3D; }
  .good-card__select-wrapper {
    position: relative;
    max-width: 222px;
    width: 100%;
    min-height: 50px; }
  .good-card__select {
    width: 100%;
    border: 1px solid #000000;
    background-color: #F9F9F9;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    padding: 16px 30px 12px 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer; }
  .good-card__select-icon {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: auto;
    right: 7px;
    transform: translate(0, -50%);
    pointer-events: none;
    transition: all 0.3s ease 0s; }
  .good-card__select-wrapper.icon-rotated > .good-card__select-icon {
    transform: translate(0, -49%) rotate(180deg); }
  .good-card__btn {
    max-width: 213px;
    min-height: 50px;
    background-color: #3D3D3D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #ffffff;
    margin: 15px 0 0 0; }
  .good-card__size-table {
    margin: 30px 0 0 0; }
  .good-card__link-to-size-table {
    font-size: 16px;
    line-height: 18px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #333333;
    padding: 10px;
    margin: -10px; }
  .good-card__benefits {
    margin: 28px 0 0 0; }
  .good-card__benefit {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .good-card__benefit-img-box {
    margin: 0 10px 0 0; }
  .good-card__benefit-text {
    font-size: 16px;
    line-height: 140%;
    margin: 0 0 10px 0; }
  .good-card__tabs {
    margin: 49px 0 0 0;
    min-height: 235px; }
  .good-card__tabs-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 6px 0;
    border-bottom: 3px solid #E7E7E7;
    margin: 0 0 50px 0; }
  .good-card__tabs-switch {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding: 6px;
    margin: -6px;
    color: #000000;
    border-radius: 5px; }
    .good-card__tabs-switch:hover {
      box-shadow: 0 0 2px 2px #3D3D3D; }
    .good-card__tabs-switch::after {
      content: '';
      display: block;
      width: calc(100% - 12px);
      background-color: #333333;
      height: 3px;
      position: absolute;
      top: 100%;
      left: auto;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease 0s; }
  .good-card__tabs-switch._active::after {
    visibility: visible;
    opacity: 1; }
  .good-card__tabs-block {
    display: none; }
  .good-card__tabs-block._active {
    display: block; }
  .good-card__tabs-text {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    padding: 0 0 5px 0; }

.slider-vertical {
  height: 753px; }
  .slider-vertical .swiper-button-prev,
  .slider-vertical .swiper-button-next {
    top: 50%;
    display: none; }
  .slider-vertical .swiper-button-next {
    right: 0; }
  .slider-vertical .swiper-button-prev {
    left: 0; }

.medium-zoom-image--opened {
  z-index: 11; }

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 10; }

.additional {
  margin: 0 0 0 0; }

footer._hidden {
  display: none; }

.footer-top {
  overflow-x: hidden; }
  .footer-top .subscribe {
    width: 100%;
    min-height: 250px;
    background-color: #292929;
    margin: 150px 0; }
    .footer-top .subscribe__container {
      width: 100%;
      min-height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
    .footer-top .subscribe__form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      color: #ffffff;
      max-width: 1240px;
      width: 100%;
      height: 100%; }
    .footer-top .subscribe__heading {
      flex: 1 1 auto;
      max-width: 607px; }
    .footer-top .subscribe__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px; }
    .footer-top .subscribe__text {
      font-size: 16px;
      line-height: 140%;
      max-width: 400px;
      margin: 10px 0 0 0; }
    .footer-top .subscribe__block {
      flex: 1 1 auto; }
    .footer-top .subscribe__input-block {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap; }
    .footer-top .subscribe__input {
      max-width: 343px;
      width: 100%;
      padding: 15px 20px;
      font-size: 16px;
      line-height: 16px;
      color: #3D3D3D;
      min-height: 50px;
      border-radius: 5px; }
      .footer-top .subscribe__input::-moz-placeholder {
        color: #DDDDDD; }
      .footer-top .subscribe__input:-ms-input-placeholder {
        color: #DDDDDD; }
      .footer-top .subscribe__input::placeholder {
        color: #DDDDDD; }
      .footer-top .subscribe__input:focus {
        box-shadow: 0 0 5px 0 #ffffff; }
    .footer-top .subscribe__btn {
      max-width: 159px;
      width: 100%;
      min-height: 50px;
      border-radius: 5px;
      background-color: #ffffff;
      margin: 0 10px;
      font-size: 14px;
      line-height: 150%;
      text-transform: uppercase;
      color: #000000; }
      .footer-top .subscribe__btn:hover {
        box-shadow: 0 0 5px 0 #ffffff; }
    .footer-top .subscribe__agreement-text {
      font-size: 12px;
      line-height: 14px;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      margin: 10px 5px 0 0;
      max-width: 343px;
      width: 100%; }
    .footer-top .subscribe__link {
      display: inline-block;
      color: #ffffff;
      text-decoration: underline; }
      .footer-top .subscribe__link:hover {
        text-decoration: none; }
  .footer-top .our-insta {
    width: 100%;
    min-height: 342px; }
    .footer-top .our-insta__content {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      gap: 10px; }
    .footer-top .our-insta__block {
      flex: 0 0 470px; }
    .footer-top .our-insta__title {
      font-weight: bold;
      font-size: 36px;
      line-height: 41px;
      margin: 30px 0 0 0; }
    .footer-top .our-insta__text {
      font-size: 16px;
      line-height: 140%;
      margin: 25px 0 0 0;
      max-width: 345px;
      width: 100%; }
    .footer-top .our-insta__link-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 159px;
      min-height: 50px;
      border-radius: 5px;
      background-color: #3D3D3D;
      color: #ffffff;
      font-size: 14px;
      line-height: 150%;
      text-transform: uppercase;
      margin: 50px 0 0 0; }
      .footer-top .our-insta__link-btn:hover {
        background-color: #000000;
        opacity: 0.8; }
    .footer-top .our-insta__slider {
      width: 100%; }
    .footer-top .our-insta .slider2 {
      width: 100%;
      max-width: 1400px; }

.news-promo {
  margin-bottom: 140px; }
  .news-promo__slider {
    width: 100%; }

.news-promo._hidden {
  display: none; }

.slider1 {
  width: 100%;
  max-width: 1400px;
  padding: 90px 0 0 0; }
  .slider1__item {
    display: flex;
    flex-direction: column; }
  .slider1__text {
    font-size: 16px;
    line-height: 140%;
    width: 100%;
    max-width: 343px;
    margin: 20px 0 10px 0; }
  .slider1__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #000000;
    padding: 5px;
    margin: 0 0 0 -5px; }
    .slider1__link:hover {
      text-decoration: none; }

.footer-bottom {
  width: 100%;
  min-height: 240px;
  background-color: #3D3D3D;
  margin: 100px 0 0 0;
  padding: 40px 0 38px 0; }
  .footer-bottom__row {
    display: flex;
    gap: 10px; }
  .footer-bottom__col {
    flex: 1 1 auto; }
  .footer-bottom__logo-box {
    margin-bottom: 30px; }
  .footer-bottom__logo-link {
    display: inline-block;
    padding: 5px;
    margin: -5px; }
  .footer-bottom .socials-box__title {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 17px; }
  .footer-bottom .socials-box__link {
    font-size: 16px;
    line-height: 140%;
    padding: 15px;
    margin: 0 15px 0 -15px;
    color: #ffffff; }
  .footer-bottom__link, .footer-bottom__span {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 17px; }
  .footer-bottom__span {
    color: #7A7A7A; }
  .footer-bottom__link:hover {
    text-decoration: underline; }
  .footer-bottom__input-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 29px 0; }
  .footer-bottom__input {
    width: 100%;
    max-width: 301px;
    min-height: 40px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 140%;
    color: #000000; }
    .footer-bottom__input:placeholder {
      font-size: 16px;
      line-height: 140%;
      color: #DDDDDD; }
    .footer-bottom__input:focus {
      box-shadow: 0 0 5px 0 #ffffff; }
  .footer-bottom__btn {
    max-width: 40px;
    min-height: 40px;
    width: 100%;
    background-color: #ffffff;
    margin-left: 1px; }
    .footer-bottom__btn:hover {
      box-shadow: 0 0 5px 0 #ffffff; }

@media screen and (max-width: 1440px) {
  .collection .slider4 .swiper-button-next {
    left: 48.7%; } }

@media screen and (max-width: 1280px) {
  .header-top__menu-link {
    font-size: 16px;
    margin: 0;
    padding: 10px; }
  .header-top__logo-img {
    width: 120px; }
  .goods__items {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); }
  .good-card {
    margin: 15px 0 0 0; }
    .good-card__content {
      -moz-column-gap: 20px;
           column-gap: 20px; }
    .good-card__images {
      padding: 0; } }

@media screen and (max-width: 1024px) {
  .section {
    margin: 70px 0 0 0; }
    .section__title {
      font-size: 20px; }
  .swiper-container-horizontal > .swiper-pagination-fraction {
    max-width: 82%; }
  .container {
    padding: 0 20px; }
  .menu__body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #3D3D3D;
    padding: 100px 40px;
    margin: 0;
    transition: all 0.5s ease 0s;
    z-index: 49; }
  .menu__body._active {
    left: 0; }
  .menu__list {
    flex-direction: column;
    align-items: center; }
  .menu__list:last-child {
    margin: 0; }
  .menu__item {
    padding: 10px; }
  .menu__icon {
    z-index: 50;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    margin-left: auto; }
    .menu__icon span, .menu__icon::before, .menu__icon::after {
      position: absolute;
      left: 0;
      height: 10%;
      width: 100%;
      background-color: #ffffff;
      transition: all 0.5s ease 0s; }
    .menu__icon::before, .menu__icon::after {
      content: "";
      display: block; }
    .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0, -50%); }
    .menu__icon::before {
      top: 0; }
    .menu__icon::after {
      bottom: 0; }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%); }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%); }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%); }
  .main-banner {
    margin: 0; }
  .new-collection__title {
    font-size: 42px; }
  .collection .slider4 {
    width: 1280px; }
  .good-card__content {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0; }
  .good-card__info {
    margin: 20px 0 0 0; }
  .good-card__images, .good-card__info {
    flex: auto;
    width: 100%; }
  .slider-vertical {
    height: auto;
    min-height: 300px;
    max-width: 578px;
    width: 100%; }
  .footer-top .subscribe {
    margin: 70px 0; }
    .footer-top .subscribe__form {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      padding: 15px 0; }
    .footer-top .subscribe__block {
      flex: auto;
      width: 100%;
      margin: 15px 0 0 0; }
  .footer-top .news-promo {
    margin-bottom: 70px; }
  .footer-top .our-insta {
    min-height: 200px; }
    .footer-top .our-insta__block {
      flex: 0 0 350px; }
    .footer-top .our-insta__link-btn {
      margin: 25px 0 0 0; }
  .footer-bottom {
    margin: 50px 0 0 0; }
    .footer-bottom__link, .footer-bottom__span {
      font-size: 15px; }
    .footer-bottom .socials-box__title {
      font-size: 15px; }
    .footer-bottom__input {
      font-size: 15px; }
      .footer-bottom__input:placeholder {
        font-size: 15px; }
    .footer-bottom__row {
      flex-wrap: wrap;
      gap: 30px; }
  .goods {
    margin: 15px 0 0 0; }
  .page-pagination__block {
    grid-template-columns: repeat(3, 1fr); }
  .page-pagination__nav {
    grid-column-start: 2; }
  .page-pagination__link-btn {
    grid-column-start: 3; }
  .slider-vertical .swiper-button-prev,
  .slider-vertical .swiper-button-next {
    display: block; } }

@media screen and (max-width: 768px) {
  .sub-menu__list {
    overflow-x: auto;
    justify-content: flex-start;
    padding: 10px 0; }
  .section {
    margin: 35px 0 0 0; }
  .main-banner {
    margin: 0; }
  .swiper-container-horizontal > .swiper-pagination-fraction {
    max-width: 75%; }
  .collection .slider4 {
    width: 1100px; }
    .collection .slider4__item-link {
      font-size: 20px; }
    .collection .slider4 .swiper-button-next {
      width: 35px;
      height: 35px;
      left: 48.5%; }
  .footer-top .subscribe {
    margin: 35px 0; }
  .footer-top .our-insta__title {
    font-size: 28px;
    margin: 0; }
  .footer-top .our-insta__text {
    font-size: 15px;
    margin: 10px 0 0 0; }
  .footer-top .our-insta__link-btn {
    margin: 15px 0 0 0; }
  .page-pagination__block {
    display: flex;
    flex-direction: column; }
  .page-pagination__nav {
    margin: 0 0 20px 0; }
  .good-card {
    margin: 15px 0 0 0; }
    .good-card__content {
      margin: 20px 0 0 0; } }

@media screen and (max-width: 640px) {
  .container {
    padding: 0 15px; }
  .section__title {
    font-size: 18px; }
  .swiper-container-horizontal > .swiper-pagination-fraction {
    top: 28px;
    max-width: 65%;
    transform: translate(17px, 0); }
  .swiper-container-horizontal > .swiper-pagination span {
    font-size: 14px; }
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    top: 44px; }
  .swiper-button-prev {
    right: 40px; }
  .main-banner__img {
    height: 100vh;
    width: auto; }
  .new-collection__content {
    align-items: flex-start; }
  .new-collection__title {
    font-size: 25px; }
  .new-collection__img-box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
  .new-collection__bg-img {
    max-width: unset;
    width: auto;
    -o-object-fit: none;
       object-fit: none;
    margin: 0 0 0 -45%; }
  .footer-top .slider1__text {
    font-size: 15px; }
  .footer-top .our-insta__content {
    flex-direction: column; }
  .footer-top .our-insta__block {
    flex: auto;
    width: 100%;
    margin-bottom: 15px; }
  .footer-top .our-insta__link-btn {
    max-width: 100%; }
  .footer-bottom__row {
    flex-direction: column; }
  .goods__content {
    flex-direction: column;
    margin: 15px 0 0 0; }
  .goods__filter-box {
    width: 100%;
    padding: 0; }
  .goods__filter-form {
    flex-direction: row;
    margin: 0 0 15px 0;
    overflow-x: scroll; }
  .goods__filter-label {
    margin: 0 10px; }
  .goods__item {
    max-width: 100%; }
  .goods__img-box {
    max-width: 100%;
    max-height: unset; }
  .slider-vertical {
    max-width: 610px; }
  .good-card__title {
    font-size: 24px; }
  .good-card__tabs {
    margin: 20px 0 0 0; }
  .good-card__nav {
    overflow-x: auto;
    height: 65px;
    padding: 5px 0 0 0; }
  .good-card__tabs-navbar {
    margin: 0 0 20px 0;
    padding: 6px 0 6px 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .good-card__tabs-switch {
    font-size: 16px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    margin: -6px 10px -6px 0; } }

@media screen and (max-width: 425px) {
  .footer-top .subscribe__input-block {
    flex-direction: column; }
  .footer-top .subscribe__input {
    max-width: unset; }
  .footer-top .subscribe__btn {
    max-width: unset;
    width: 100%;
    margin: 10px auto; } }
