.main
    width: 100%
    height: 100%

.main-banner
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 0
    &__content
        width: 100%
        margin: 0 auto
    &__img
        width: 100%
