@import ./common/_vars
@import "./common/fonts.scss"
@import "./common/_nullstyle.scss"


body
	font-family: $font-primary
	font-weight: normal
	font-style: normal
	font-size: $text-font-size-desktop
	color: $color-Black
	display: flex
	flex-direction: column

body._lock
	overflow: hidden

button
	display: flex
	justify-content: center
	align-items: center
	
.wrapper
	max-width: $siteWidth
	width: 100%
	margin: -86px auto 0 auto
	flex: 1 1 auto

.container
	max-width: $content-max-width
	width: 100%
	margin: 0 auto
	padding: $content-padding
	

@import "./common/header.sass"
@import "./pages/index.sass"
@import "./common/footer.sass"
@import ./common/_adaptive

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
