@import ./common/_vars
@import "./common/fonts.scss"
@import "./common/_nullstyle.scss"


body
	font-family: $font-primary
	font-weight: normal
	font-style: normal
	color: $color-graphite
	position: relative
	display: flex
	flex-direction: column

body._lock
	overflow: 
	
.wrapper
	max-width: $siteWidth
	width: 100%
	margin: 0 auto
	flex: 1 1 auto

.container
	max-width: $content-max-width
	width: 100%
	margin: 0 auto
	padding: $content-padding
	

@import "./common/header.sass"
@import "./pages/index.sass"
@import "./common/footer.sass"
@import ./common/_adaptive

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
