header.header-top.lock-padding
	.container.header-top__container 
		.header-top__menu.menu
			.header-top__menu-icon.menu__icon
				span  
			nav.header-top__menu-body.menu__body
				ul.header-top__list.menu__list
					li.header-top__list-item.menu__item
						a(href="for-men.html").header-top__menu-link.menu__link Мужчинам
					li.header-top__list-item.menu__item
						a(href="for-women.html").header-top__menu-link.menu__link Женщинам
					li.header-top__list-item.menu__item
						a(href="collections.html").header-top__menu-link.menu__link Коллекции
					li.header-top__list-item.menu__item
						a(href="kinds-of-sports.html").header-top__menu-link.menu__link Виды спорта
				ul.header-top__list.menu__list
					li.header-top__list-item.menu__item
						a(href="contacts.html").header-top__menu-link.menu__link Контакты
					li.header-top__list-item.menu__item
						a(href="help.html").header-top__menu-link.menu__link Помощь
					li.header-top__list-item.menu__item
						a(href="my-data.html").header-top__menu-link.menu__link Аккаунт
					li.header-top__list-item.menu__item
						a(href="cart.html").header-top__menu-link.menu__link.cart-link Корзина
							.cart-img-block
								.cart-img-box 
									svg.cart-img(width="25" height="25")  
										use(xlink:href="./assets/images/sprite.svg#shopping-bag" alt="cart icon")
									span.cart-img-block__span 2
					li.header-top__list-item.menu__item
						a(href="#modal01").header-top__menu-link.menu__link.modal__link Поиск
		.header-top__logo-box.lock-padding
			a.header-top__logo-link(href="home-page.html")
				svg.header-top__logo-img(width="150" height="46")  
					use(xlink:href="./assets/images/sprite.svg#logo-white" alt="Champler logo")
header.header-bottom.lock-padding
	section.header-bottom__banner 
		.header-bottom__img-box
			img.header-bottom__img.header-bottom__img_for-men(src="assets/images/header-bottom-bg-img.jpg", alt="Фото мужчины")
			img.header-bottom__img.header-bottom__img_collections._hidden(src="assets/images/header-bottom-bg-img-2.jpg", alt="Фото мужчины с канатом") 
			img.header-bottom__img.header-bottom__img_kinds-of-sports._hidden(src="assets/images/header-bottom-bg-img-3.jpg", alt="Фото мужчины") 
			//- два модификатора ниже при натяжке, вероятно, не понадобятся
		.header-bottom__heading 
			h1.header-bottom__title Мужчинам
	nav.breadcrumbs
		.container.breadcrumbs__container 
			.breadcrumbs__content 
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="home-page.html") Главная
							span &nbsp;/&nbsp;
					li.breadcrumbs__item
						a.breadcrumbs__link._current(href="#") Мужчинам&nbsp;

	nav.sub-menu
		.container.sub-menu__container
			ul.sub-menu__list.sub-menu__list_for-men
				li.sub-menu__item
					a.sub-menu__link(href="#") Обувь
				li.sub-menu__item
					a.sub-menu__link(href="#") Одежда
				li.sub-menu__item
					a.sub-menu__link(href="#") Аксессуары
				li.sub-menu__item
					a.sub-menu__link(href="#") Новинки
				li.sub-menu__item
					a.sub-menu__link(href="#") Sale
			//- Ниже оверкод для показа верстки. При натяжке на БУС не понадобистся.
			ul.sub-menu__list.sub-menu__list_collections._hidden
				li.sub-menu__item
					a.sub-menu__link(href="#") Yoga style
				li.sub-menu__item
					a.sub-menu__link(href="#") Running
				li.sub-menu__item
					a.sub-menu__link(href="#") Hard sport
			ul.sub-menu__list.sub-menu__list_kinds-of-sports._hidden
				li.sub-menu__item
					a.sub-menu__link(href="#") Йога
				li.sub-menu__item
					a.sub-menu__link(href="#") Бег
				li.sub-menu__item
					a.sub-menu__link(href="#") Легкая атлетика	
