header.header 
	.container.header__container 
		.header__menu.menu
			.menu__icon 
				span  
			nav.menu__body
				ul.menu__list
					li.header__list-item
						a(href="concept.html").menu__link Концепция
					li.header__list-item
						a(href="catalog.html").menu__link Серии
					li.header__list-item
						a(href="projects.html").menu__link Проекты
					li.header__list-item
						a(href="blog.html").menu__link Блог
				ul.menu__list
					li.header__list-item
						a(href="concept.html").menu__link Концепция
					li.header__list-item
						a(href="catalog.html").menu__link Серии
					li.header__list-item
						a(href="projects.html").menu__link Проекты
					li.header__list-item
						a(href="blog.html").menu__link Блог