header.header 
	.container.header__container 
		.header__menu.menu
			.header__menu-icon.menu__icon
				span  
			nav.header__menu-body.menu__body
				ul.header__list.menu__list
					li.header__list-item.menu__item
						a(href="concept.html").header__menu-link.menu__link Мужчинам
					li.header__list-item.menu__item
						a(href="catalog.html").header__menu-link.menu__link Женщинам
					li.header__list-item.menu__item
						a(href="projects.html").header__menu-link.menu__link Коллекции
					li.header__list-item.menu__item
						a(href="blog.html").header__menu-link.menu__link Виды спорта
				ul.header__list.menu__list
					li.header__list-item.menu__item
						a(href="concept.html").header__menu-link.menu__link Контакты
					li.header__list-item.menu__item
						a(href="catalog.html").header__menu-link.menu__link Помощь
					li.header__list-item.menu__item
						a(href="projects.html").header__menu-link.menu__link Аккаунт
					li.header__list-item.menu__item
						a(href="blog.html").header__menu-link.menu__link Корзина
					li.header__list-item.menu__item
						a(href="blog.html").header__menu-link.menu__link Поиск
		.header__logo-box 
			a.header__logo-link(href="#")
				svg.header__logo-img(width="150" height="46")  
					use(xlink:href="./assets/images/sprite.svg#logo-white" alt="logo")
