@import ./_vars

@media screen and (max-width: 1280px)
    .header
        &__menu-link
            font-size: 16px
        &__logo-img
            width: 120px

@media screen and (max-width: 1024px)
    .section
        &__title
            font-size: $section-title-tablet
    .swiper-container-horizontal>.swiper-pagination-fraction
        max-width: 82%

    .container
        padding: $content-padding-tablet
    .menu
        &__body
            flex-direction: column
            justify-content: flex-start
            align-items: center
            position: fixed
            top: 0
            left: -100%
            width: 100%
            height: 100%
            background-color: $color-graphite
            padding: 100px 40px
            margin: 0
            transition: all 0.5s ease 0s
        &__body._active
            left: 0
        &__list
            flex-direction: column
            align-items: center
        &__list:last-child
            margin: 0
        &__item
            padding: 10px
        &__icon
            z-index: 5
            display: block
            position: relative
            width: 30px
            height: 22px
            padding: 10px
            cursor: pointer
            transition: all 0.5s ease 0s
            margin-left: auto
            & span,
            &::before,
            &::after
                position: absolute
                left: 0
                height: 10%
                width: 100%
                background-color: $color-White
                transition: all 0.5s ease 0s
            &::before,
            &::after
                content: ""
                display: block
            & span
                top: 50%
                transform: scale(1) translate(0, -50%)
            &::before
                top: 0
            &::after
                bottom: 0
        &__icon._active
            & span
                transform: scale(0) translate(0, -50%)
            &::before
                top: 50%
                transform: rotate(-45deg) translate(0, -50%)
            &::after
                bottom: 50%
                transform: rotate(45deg) translate(0, 50%)

    // .footer
    .subscribe
        margin: 70px 0
        &__form
            flex-direction: column
            align-items: flex-start
        &__block
            flex: auto
            width: 100%
            margin: 15px 0 0 0
    .footer
        &__news-promo
            margin-bottom: 70px

@media screen and (max-width: 768px)
    .swiper-container-horizontal>.swiper-pagination-fraction
        max-width: 75%

@media screen and (max-width: 640px)
    .section
        &__title
            font-size: $section-title-mobile
    .swiper-container-horizontal>.swiper-pagination-fraction
        top: 28px
        max-width: 65%
        transform: translate(17px, 0)
    .swiper-container-horizontal>.swiper-pagination
        & span
            font-size: 14px

    .swiper-button-prev,
    .swiper-button-next
        width: 30px
        height: 30px
        top: 44px
    .swiper-button-prev
        right: 40px

@media screen and (max-width: 425px)
    .subscribe
        &__input-block
            flex-direction: column
        &__input
            max-width: unset
        &__btn
            max-width: unset
            width: 100%
            margin: 10px auto
