// Размеры
$siteWidth: 1920px
$content-max-width: 1480px
$content-padding: 0 40px
$content-max-width-tablet: 1024px
$content-padding-tablet: 0 20px
$content-max-width-mob: 768px
$content-padding-mob: 0 15px

// Шрифт
$font-primary: "Helvetica", sans-serif
$text-font-size-desktop: 16px
$text-font-size-fablet: 15px
$text-font-size-mobile: 14px
$big-title-size: 144px
$middle-title-size: 64px
$section-title-desktop: 24px
$section-title-tablet: 20px
$section-title-mobile: 18px

// Цвета
$color-graphite: #3D3D3D
$color-Black: #000000
$color-black_2: #292929
$color-White: #ffffff
$color-placeholder: #DDDDDD
$color-Gray_1: #7A7A7A
$color-Gray_2: #D6D6D6
$color-Gray-pagination: #A3A3A3
$color-breadcrumbs: #515151


