@import ./_vars
.subscribe
    width: 100%
    min-height: 250px
    background-color: $color-black_2
    display: flex
    justify-content: center
    align-items: center
    &__form
        display: flex
        align-items: center
        justify-content: flex-start
        color: $color-White
        max-width: 1240px
        padding: 15px
        width: 100%
    &__heading
        flex: 1 1 auto
        max-width: 607px
        padding: $content-padding-mob
    &__title
        font-weight: 700
        font-size: 24px
        line-height: 28px
    &__text
        font-size: 16px
        line-height: 140%
        max-width: 400px
        margin: 10px 0 0 0
    &__block
        flex: 1 1 auto
        padding: $content-padding-mob
    &__input-block
        display: flex
        justify-content: flex-start
        flex-wrap: nowrap
    &__input
        max-width: 343px
        width: 100%
        padding: 15px 20px
        font-size: 16px
        line-height: 16px
        color: $color-graphite
        min-height: 50px
        border-radius: 5px
        &::placeholder
            color: $color-placeholder
    &__btn
        max-width: 159px
        width: 100%
        min-height: 50px
        border-radius: 5px
        background-color: $color-White
        margin: 0 10px
    &__agreement-text
        font-size: 12px
        line-height: 14px
        text-decoration-line: underline
        margin: 10px 5px 0 0
        max-width: 343px
        width: 100%
    &__link
        display: inline-block
        color: $color-White
        text-decoration: underline
