@import ./_vars

footer._hidden
    display: none

.footer-top
    overflow: hidden
    .subscribe
        width: 100%
        min-height: 250px
        background-color: $color-black_2
        margin: 150px 0
        &__container
            width: 100%
            min-height: inherit
            display: flex
            justify-content: center
            align-items: center
            margin: 0 auto
        &__form
            display: flex
            align-items: center
            justify-content: flex-start
            // gap: 20px
            color: $color-White
            max-width: 1240px
            width: 100%
            height: 100%
        &__heading
            flex: 1 1 auto
            max-width: 607px
        &__title
            font-weight: 700
            font-size: 24px
            line-height: 28px
        &__text
            font-size: 16px
            line-height: 140%
            max-width: 400px
            margin: 10px 0 0 0
        &__block
            margin-left: 20px
            flex: 1 1 auto
        &__input-block
            display: flex
            justify-content: flex-start
            flex-wrap: nowrap
        &__input
            max-width: 343px
            width: 100%
            padding: 15px 20px
            font-size: 16px
            line-height: 16px
            color: $color-graphite
            min-height: 50px
            border-radius: 5px
            &::placeholder
                color: $color-placeholder
            &:focus
                box-shadow: 0 0 5px 0 $color-White
        &__btn
            max-width: 159px
            width: 100%
            min-height: 50px
            border-radius: 5px
            background-color: $color-White
            margin: 0 10px
            font-size: 14px
            line-height: 150%
            text-transform: uppercase
            color: $color-Black
            &:hover
                box-shadow: 0 0 5px 0 $color-White
        &__agreement-text
            font-size: 12px
            line-height: 14px
            text-decoration-line: underline
            margin: 10px 5px 0 0
            max-width: 343px
            width: 100%
        &__link
            display: inline-block
            color: $color-White
            text-decoration: underline
            &:hover
                text-decoration: none

    .our-insta
        width: 100%
        min-height: 342px
        &__content
            display: flex
            justify-content: flex-start
            width: 100%
            // gap: 10px
        &__block
            flex: 0 0 470px
            margin-right: 10px
        &__title
            font-weight: bold
            font-size: 36px
            line-height: 41px
            margin: 30px 0 0 0
        &__text
            font-size: 16px
            line-height: 140%
            margin: 25px 0 0 0
            max-width: 345px
            width: 100%
        &__link-btn
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            max-width: 159px
            min-height: 50px
            border-radius: 5px
            background-color: $color-graphite
            color: $color-White
            font-size: 14px
            line-height: 150%
            text-transform: uppercase
            margin: 50px 0 0 0
            &:hover
                background-color: $color-Black
                opacity: 0.8
        &__slider
            width: 100%
        .slider2
            width: 100%
            max-width: 1400px

.news-promo
    margin-bottom: 140px
    &__slider
        width: 100%
.news-promo._hidden
    display: none

.slider1
    width: 100%
    max-width: 1400px
    padding: 90px 0 0 0
    &__item
        display: flex
        flex-direction: column
    &__text
        font-size: 16px
        line-height: 140%
        width: 100%
        max-width: 343px
        margin: 20px 0 10px 0
    &__link
        font-size: 16px
        line-height: 18px
        text-decoration: underline
        color: $color-Black
        padding: 5px
        margin: 0 0 0 -5px
        &:hover
            text-decoration: none

.footer-bottom
    width: 100%
    min-height: 240px
    background-color: $color-graphite
    margin: 100px 0 0 0
    padding: 40px 0 38px 0
    &__row
        display: flex
        // gap: 10px
    &__col
        flex: 1 1 auto
        margin-right: 10px
    .col-5
        margin-right: 0
    &__logo-box
        margin-bottom: 30px
    &__logo-link
        display: inline-block
        padding: 5px
        margin: -5px

    .socials-box
        &__title
            font-size: 18px
            line-height: 21px
            color: $color-White
            margin-bottom: 17px
        &__link
            font-size: 16px
            line-height: 140%
            padding: 15px
            margin: 0 15px 0 -15px
            color: $color-White
    &__link,
    &__span
        display: inline-block
        font-size: 18px
        line-height: 21px
        color: $color-White
        margin-bottom: 17px
    &__span
        color: $color-Gray_1
    &__link:hover
        text-decoration: underline
    &__input-block
        width: 100%
        display: flex
        justify-content: flex-start
        align-items: center
        margin: 10px 0 29px 0
    &__input
        width: 100%
        max-width: 301px
        min-height: 40px
        padding: 8px 20px
        font-size: 16px
        line-height: 140%
        color: $color-Black
        &:placeholder
            font-size: 16px
            line-height: 140%
            color: $color-placeholder
        &:focus
            box-shadow: 0 0 5px 0 $color-White
    &__btn
        max-width: 40px
        min-height: 40px
        width: 100%
        background-color: $color-White
        margin-left: 1px
        &:hover
            box-shadow: 0 0 5px 0 $color-White
