@import ./_vars

header._hidden
	display: none
.header-bottom._hidden
	display: none

.header-top
	width: 100%
	min-height: 86px
	padding: 20px 0
	position: relative
	z-index: 10
	margin: 0 0 -86px 0
	&__container
		width: 100%
		display: flex
		align-items: center
	&__menu
		width: 100%
	&__menu-body,
	&__list
		display: flex
		justify-content: space-between
		align-items: center
	&__menu-body
		margin: 0 -12px
		padding: 12px 0
	&__list:last-child
		margin-left: -12px
	&__menu-link
		padding: 12px
		color: $color-White
		font-size: 18px
		line-height: 21px
		margin: 0 4px 0 0
	&__menu-link:hover
		text-decoration: underline
	&__logo-box
		position: absolute
		top: 20px
		left: 50%
		transform: translateX(-50%)
		width: 150px
		display: flex
		justify-content: center
		align-items: center
		z-index: 15
	&__logo-img
		color: $color-White

// header not home page

header._white
	background-color: $color-White
	border-bottom: 2px solid $color-Gray_2
	.header-top
		&__menu-link
			color: $color-Black
		&__logo-img
			color: $color-Black
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after
		background-color: $color-Black
	.menu__body._active .menu__link
		color: $color-White
	.menu__icon._active
		&::before,
		&::after
			background-color: $color-White
.header-top._fixed
	position: fixed
	top: 0
	left: 0

.header-bottom
	margin: 86px 0 0 0
	width: 100%
	// height: 300px
	&__banner
		width: 100%
		height: 100%
		position: relative
		height: 300px
	&__img-box
		position: absolute
		width: 100%
		height: 300px
	&__img
		width: 100%
		height: 100%
		object-position: top
		&_for-men._hidden,
		&_collections._hidden,
		&_kinds-of-sports._hidden
			display: none
	&__heading
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
	&__title
		font-weight: bold
		font-size: 48px
		line-height: 48px
		color: $color-White
	
	&__banner._hidden
		display: none

// burger-menu
.menu
	&__icon
		display: none

// Breadcrumbs

.breadcrumbs
	&__content
		width: 100%
		padding: 20px 0
	&__list
		display: flex
		justify-content: flex-start
	&__item,
	&__link
		color: $color-breadcrumbs
		font-size: 12px
		line-height: 14px

.breadcrumbs._hidden
	display: none

.sub-menu
	width: 100%
	&__container
		width: 100%
		margin: 5px auto
		display: flex
		justify-content: center
		align-items: center
	&__list
		display: flex
		justify-content: center
		align-items: center
		&_for-men._hidden,
		&_for-women._hidden,
		&_collections._hidden, 
		&_kinds-of-sports._hidden // На проде этb модификаторs, скорее всего, не понадобятся
			display: none
	&__link
		padding: 10px
		margin: 0 20px
		color: $color-Black
		font-size: 18px
		line-height: 21px
		white-space: nowrap
		&:hover
			text-decoration: underline

.sub-menu._hidden
	display: none
