@import ./_vars
.header
	position: relative
	&__container
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: $content-max-width
		padding: $content-padding
		min-height: 86px
		display: flex
		align-items: center
	&__menu
		width: 100%
		padding: 20px 0
	&__menu-body,
	&__list
		display: flex
		justify-content: space-between
		align-items: center
	&__menu-body
		margin: 0 -12px
	&__menu-link
		padding: 12px
		color: $color-White
		font-size: 18px
		line-height: 21px
		margin: 0 4px 0 0
	&__logo-box
		position: absolute
		top: 20px
		left: 50%
		transform: translateX(-50%)
		width: 150px
